.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}
p{
    margin-top: 10px;
    font-weight: 400;
    color: #5A758C;
    font-size: large;
   
    
}